@media only screen and (max-width:1024px) {
  .page-1-body .pbody-left{
    width: 40%;
  }
  .pbody-left h6{
    font-size: 70px;
  }
  .pbody-left h1{
    font-size: 70px;
  }
  .page-1-body .page-body-right{
    width: 60%;
  }
  .cardl img:nth-child(1) {
    width: 60%;
    margin-top: 10vh;
    margin-left: 20vh;
  }
  .cards{
    flex-direction: column;
  }
  .cardl img:nth-child(2) {
    height: 55vh;
    margin-left: -5vh;
    margin-top: 5vh;
  }
  .cardr{
    margin-top: 5vh;
  }
  .cardr h6 {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -1px;
    margin-bottom: 5px;
  }
  .cardr h1 {
    font-size: 50px;
    letter-spacing: -1px;
    margin-top: -40px;
    font-weight: 500;
  }
  .cardr button {
    font-size: 12px;
    padding: 8px 12px;
  }
  .cardr span {
    font-size: 50px;
  }
  .page-cards .cards4 {
    margin-top: -30vh;
  }

  .page-cards .cards4 .cardr span {
    display: none;
  }
  .page-cards .cards4 .cardr h6 {
    margin-top: -5vh;
  }
  .page-cards .cards4 .cardr h1 {
    font-size: 35px;
    margin-top: -5vh;
  }
  .page-cards .cards4 .cardr button {
    display: none;
  }
  .slider1{
    height: 70%;
  }
  .slider1 .slide img {
    height: 250px;
    width: 150px;
  }
  .p5-content{
    width: 31%;
  }
}

@media only screen and (max-width:768px) {
  /* .page-cards .cards4 .cardr h1 {
    font-size: 20px;
  } */
  .slider1{
    height: 90%;
    margin-left: 10px;
  }

  .p7-sec1 .slider1:nth-child(3){
    display: none;
  }
  .slider1 .slide img {
    height: 250px;
    width: 150px;
  }
  .p7-sec2-content button {
    font-size: 12px;
    /* text-wrap: nowrap; */
    width: 22vw;
  }
  .p2-bottle {
    height: 50vh;
  }
  .p2-img {
    position: relative;
  }

}


@media only screen and (max-width:600px) {
  .loader img {
    margin-top: 20vh;
    height: 40vh;
  }
  .loader > .content {
    text-align: center;
    margin: auto;
    margin-top: 10vh;
  }
  .loader h1 span {
    font-size: 6vh;
  }
  .loader .content2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15vh;
  }
  .page7{
    height: 80vh;
  }
  .p7-sec1 .slider1 img{
    margin-left: 470px;
  }
  .slider1 .slide img {
    height: 220px;
    width: 130px;
  }
}


@media only screen and (max-width:500px) {
  .loader img {
    height: 40vh;
  }
  .loader > .content {
    text-align: center;
    margin: auto;
    margin-top: 6vh;
    margin-left: 3vh;
    margin-bottom: 3vw;
  }
  .loader h1 span {
    font-size: 5vh;
  }
  .p7-sec1 .slider1:nth-child(3){
    display: block;
  }
  .page5 img {
    height: 40vh;
    z-index: 999;
    /* margin-left: 15rem; */
  }
  .page5{
    flex-direction: column;
  }
  .p5-content{
    display: none;
  }
  .page5>p{
    display: block;
  }
  .page3{
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .p3-box1{
    margin-top: 5vh;
    width: 90%;
  }
  .p3-text {
    font-size: 7vw;
    font-weight: 300;
  }
  .p3-para {
    font-size: 2vw;
  }
  .p3-btn {
    width: 30vw;
    text-align: center;
  }
  .page3-box2{
    width: 65%;
  }
}


@media only screen and (max-width:420px) {
  .loader img {
    height: 40vh;
  }
  .loader > .content {
    text-align: center;
    margin: auto;
    margin-top: 6vh;
    margin-left: 1vh;
  }
  .loader h1 span {
    font-size: 4.5vh;
  }
  .loader .content2{
    margin-left: -5vh;
  }
}